<ion-view view-title="Search">
  <ion-content>
    <h1>Guia dos ultimos 3 meses</h1>
    
    <div class = "card">
   <div class = "item item-avatar">
      <h2>Departamento Contábil</h2>
   </div>

   <div class = "item item-body">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget 
      pharetra tortor. Proin quis eros imperdiet, facilisis nisi in, tincidunt orci. 
      Nam tristique elit massa, quis faucibus augue finibus ac.
   </div>
</div>
    
     <div class = "card">
   <div class = "item item-avatar">
      <h2>Departamento Fiscal</h2>
   </div>

   <div class = "item item-body">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget 
      pharetra tortor. Proin quis eros imperdiet, facilisis nisi in, tincidunt orci. 
      Nam tristique elit massa, quis faucibus augue finibus ac.
   </div>
</div>
    
     <div class = "card">
   <div class = "item item-avatar">
      <h2>Departamento Pessoal</h2>
   </div>

   <div class = "item item-body">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget 
      pharetra tortor. Proin quis eros imperdiet, facilisis nisi in, tincidunt orci. 
      Nam tristique elit massa, quis faucibus augue finibus ac.
   </div>
</div>
  </ion-content>
</ion-view>
